.auth-card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group label {
  position: absolute;
  left: 10px;
  top: 45%;
  transform: translateY(-50%);
  font-weight: 600;
  color: var(--text-dark);
  pointer-events: none;
  transition: all 0.2s ease;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  color: var(--primary-color);
}

.form-group input {
  width: 100%;
  padding: 12px 10px 10px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

.form-group input:focus {
  border-color: var(--primary-color);
}
.has-error input {
  border-color: var(--secondary-color);
}
.error-message {
  color: var(--secondary-color);
  font-size: 12px;
  margin-top: 5px;
}

.auth-btn {
  width: 100%;
  padding: 12px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}
.form-group input {
  width: 100%;
  padding: 12px 10px 10px;
  border: none;
  border-bottom: 1.5px solid var(--border-color);
  outline: none;
  font-size: 14px;
  border-radius: 0;
}

.auth-btn:hover {
  background-color: rgb(11, 70, 219);
}

.auth-links {
  margin-left: 30px;
  margin-top: 20px;
}

.auth-links a {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: underline;
}
